<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration> 
  <settings> 
    <setting name="logImpl" value="STDOUT_LOGGING"/> 
  </settings>  
  <typeAliases> 
    <!-- 别名 -->  
    <typeAlias alias="custom" type="domain.Custom"/>  
    <typeAlias alias="admin" type="domain.Admin"/>  
    <typeAlias alias="shoptype" type="domain.ShopType"/>  
    <typeAlias alias="staff" type="domain.Staff"/>  
    <typeAlias type="domain.Order" alias="order"/>  
    <typeAlias type="dto.OrderDto" alias="orderdto"/>  
    <typeAlias alias="datacoudto" type="dto.DataCouDto"/>  
    <typeAlias type="domain.Shop" alias="shop"/>  
    <typeAlias type="dto.ShopDto" alias="shopdto"/>  
    <typeAlias type="dto.StaffDto" alias="staffDto"/> 
  </typeAliases>  
  <!-- 数据库环境 -->  
  <environments default="development"> 
    <environment id="development"> 
      <transactionManager type="JDBC"/>  
      <dataSource type="POOLED"> 
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>  
        <property name="url" value="jdbc:mysql://localhost:3306/db_crm?characterEncoding=utf8&amp;allowMultiQueries=true&amp;serverTimezone=CST"/>  
        <property name="username" value="root"/>  
        <property name="password" value="123456"/>
      </dataSource> 
    </environment> 
  </environments>  
  <mappers> 
    <mapper resource="mapper/Custom.xml"/>  
    <mapper resource="mapper/Shop.xml"/>  
    <mapper resource="mapper/admin.xml"/>  
    <mapper resource="mapper/ShopType.xml"/>  
    <mapper resource="mapper/staff.xml"/>  
    <mapper resource="mapper/Order.xml"/>  
    <mapper resource="mapper/adminsta.xml"/> 
  </mappers> 
</configuration>
